.dashboard-card {

  background: linear-gradient(135deg, #fdd5d7, #fce4ec);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.card-number {
  font-size: number;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
}

.card-label {
  font-weight: 500;
  color: #ffffff;
  margin: 0;
}
