@import './../../colors/colors.css';

.navbar {
  background-color: #333;
  padding: 15px 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.navbar-link:hover {
  color: #f0a500;
}

.card {
  background: linear-gradient(to bottom, #ffe5ec, #f8d6e1);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 200px;
  max-height: 100px;

}

.card-content {
  width: 100%;
  text-align: center;
  color: #fff;
}

.card-number {
  font-size: 2.5rem;
  font-weight: bold;
}

.card-text {
  font-size: 0.9rem;
  margin-top: 5px;
}

.table-container {
  padding: 20px;
  flex: 4;
  border-radius: 20px;
  max-width: 90%;
  display: flex;
}
.toggle-Container{
  max-width: 30%;
}
.view-toggle {
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.view-toggle:hover {
  transform: scale(1.05);
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.view-toggle {
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  position: relative;
  transition: color 0.3s;
  color: #333;
}

.view-toggle.active {
  color: #D16F9A; /* Highlight the active text */
}

.view-toggle.active::after {
  content: "";
  position: absolute;
  bottom: -2px; /* Position the underline below the text */
  left: 0;
  right: 0;
  height: 2px; /* Thickness of the underline */
  background-color: #D16F9A; /* Match the highlight color */
  transition: background-color 0.3s;
}

.view-toggle:hover {
  color: #D16F9A; /* Hover effect matches active color */
}

